<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="styles/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
	<title>To Do List</title>

<body ng-app="toDoModule" ng-controller="toDoController">
	<div id = "container">
		<h1>To Do List</h1>
		<h2>2-20-2017</h2>

		<input type="text" placeholder="Search" ng-model="searchMyChores"/>

		<!-- <ul>
			<li ng-repeat="chore in chores | filter: searchMyChores">{{chore}}</li>
		</ul> -->

		<div id = "checklist">
			<label id = "todoitem" ng-repeat="chore in chores | filter: searchMyChores track by $index">
				<input type="checkbox" ng-click="removeItem(chore)"> {{chore}}</br>
			</label>
		</div>

		<form>
			<input type = "text" placeholder="Item" ng-model="itemToAdd"/>
			<input type = "submit" id = "button" value="Add To List" ng-click="addToList()"/>
		</form>

		<img src="img/clean.jpg">
	</div>

	<script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js></script>
	<script src="script/script.js"></script>
</body>
</html>














<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="styles/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sansita" rel="stylesheet">
	<title>To Do List</title>
	</head>

	<body ng-app="myModule" ng-controller="myController">

		<input type="text" placeholder="search" ng-model="Chorelist" ng-click="add()"/>

		<div id="container">
			<h1 class="title">Chore List</h1>
			<ul>
				<li ng-repeat="chore in chores">
					<button id ="delButton" ng-click="removeChore(chore)"></button>{{chore}}</li>
	 		</ul>
		</div>

 <div id="add-wrap">
			<form ng-submit="choreToAdd()">
				<input type="text" placeholder="add to list" id="userInput" ng-model="choreToAdd" />

				<button type="submit" id="addButton" ng-click"onclick(choreToAdd)"></button>
			</form>
			<!-- <div id="checklist">
				<label id="todoitem" ng-repeat="chore in chores | filter: searchChoresList track by $index">
				<input type="checkbox" ng-click="removeItem(chore)">{{chore}}</br>
			</label>
			</div> -->
